// out:../css/style.css, compress:true

@FontColor: #333;
@EditorFontColor: #DDD;
@EditorBackground: #222;
@LineNumberColor: #777;
@BorderColor: #CCC;

@InfoBlue: #66EEFF;
@WarnOrange: #EEAA55;
@ErrorRed: #EE5555;

@ConsoleHeight: 72px;
@MenuHeight: 36px;
@PaddingSize: 8px;

* {
  box-sizing: border-box;
}

html, body {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  color: @FontColor;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
}

.editor-container {
  .container;
  bottom: 0;
  border-top: 1px solid @BorderColor;
  padding-bottom: @MenuHeight;
}

.iframe-container {
  .container;
  top: 0;
  padding-bottom: 72px;
}

.editor-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.editor-iframe {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.editor-text {
  font-family: monospace, monospaced;
  font-size: 14px;
}

.editor {
  .editor-iframe;
  .editor-text;
  padding: @PaddingSize;
  padding-left: 25 + @PaddingSize;
  outline: none;
  color: @EditorFontColor;
  background-color: @EditorBackground;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.iframe {
  .editor-iframe;
  position: relative;
}

.console {
  position: absolute;
  width: 100%;
  height: @ConsoleHeight;
  left: 0;
  bottom: 0;
  background-color: @EditorBackground;
  color: @EditorFontColor;
  padding: @PaddingSize;
  overflow: auto;
  font-family: monospace, monospaced;
  font-size: 14px;
  line-height: 16px;

  p {
    padding: 0;
    margin: 0;

    &.info {
      color: @InfoBlue;
    }

    &.warn {
      color: @WarnOrange;
    }

    &.error {
      color: @ErrorRed;
    }
  }
}

.clear-console {
  position: absolute;
  padding: @PaddingSize;
  height: 24px;
  bottom: @ConsoleHeight - 24px;
  right: 0;
  font-family: arial, helvetica, sans-serif;
  color: @EditorFontColor;
}

.line-numbers-container {
  .editor-text;
  position: absolute;
  padding: @PaddingSize;
  top: 0;
  left: 0;
  height: 100%;
  background-color: @EditorBackground;
  color: @LineNumberColor;
  border-right: 1px solid @LineNumberColor;
  overflow: hidden;
  text-align: right;

  .line-numbers {
    li {
      display: block;
    }
  }
}

.menu {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: @MenuHeight;
  border-top: 1px solid @BorderColor;
}

.controls {
  height: @MenuHeight - 1px;
  list-style: none;
  padding: @PaddingSize;
  margin: 0;

  &.right {
    float: right;

    li {
      float: right;
    }
  }
}

@media all and (min-width: 768px) {

  .container {
    width: 50%;
    height: 100%;
    top: 0;
  }

  .editor-container {
    .container;
    left: 0;
    border: 0;
    border-right: 1px solid @BorderColor;
  }

  .iframe-container {
    .container;
    left: auto;
    right: 0;
  }

}
